.board {
    display: grid;
    width: 300px;
    height: 300px;
background-color: $black50;
grid-template-columns: repeat(3,1fr);
grid-template-rows: repeat(3,1fr);
justify-items: center;
align-items: center;
box-shadow: -20px 9px 0px 1px $black70;
@media (max-width: 400px ) {
     width: 150px;
     height: 150px;   
    }
z-index: 1000;
}
#gameContainer {
    display: none;
    justify-items: center;
align-items: center;
}
.case {
    width: 90px;
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $white70;
    cursor: pointer;
    font-size: 3rem;
    &:hover {
        background-color: $Color-purple-11-rgba;
    }
    @media (max-width: 400px) {
        height: 45px;
        width: 45px;
    }
}
html {
    height: 100%;
      animation: colorSpin 8s linear infinite;
    }
    body {
    height: 100vh;
    background-color: $Color-purple-9-rgba;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}
@keyframes colorSpin {
    0%   { filter: hue-rotate(0deg);   }
    100% {
    filter: hue-rotate(360deg);
}
}

.annonce {
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    font-size: 2rem;
   color: white;
   font-weight: bold;
   text-align: center;
   border-radius: 10px;
    animation: slideDown 0.5s ease-out;
}
@keyframes slideDown {
    from {
        transform: translateY(0);
        opacity: 0;
        
    }
    to {
        transform: translateY(150px);
        opacity: 1;
        
    }
}
