.mouse {
  position: absolute;
  border-radius: 1500px;
  transform: translate(-50%, -50%);
  mix-blend-mode: difference;
  z-index: -1;
}
#cursor {
  background-color: #2128bd;
  width: 14px;
  height: 14px;
  z-index: -1;
}
#mouse1 {
    width: 100px;
    height: 100px;
    background-color: white;
    transition: 0.1s ease;
    z-index: -1;
}
#mouse2 {
    height: 200px;
    width: 200px;
    background-color: rgb(33, 23, 23);
    transition: 0.2s ease-out;
    z-index: -1;
}