*{
    margin: 0;
    padding: 0;
}
body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #feda6d;
}

.page1 {
    margin: 20px;
    display: flex;
    flex-direction: column;
align-items: center;
    justify-content: center;
    position: relative;
    max-height: 800px;
    max-width: 1200px;
background-color: #FFBE45;
box-shadow: 0px 0px 13px 0px;
.container-title {
    position: absolute;
    display: flex;
    
right: -50%;
top: 10px;
    justify-content: center;
    align-items: center;
    width: 421px ;
    height: 205px;
    background-color: rgba(0, 0, 0, 0.300);
    color: #FFBE45;
    box-shadow:-7px -8px 16px 0px rgba(0, 0, 0, 0.5) ;
    z-index: 0;
    border-radius: 16px 16px 0 0;
    
    .arrow-title {
        position: absolute;
        width: 127px;
        height: 50px;
        z-index: 1;
        right: 0px;
        bottom: -50px;
background-color: rgba(0, 0, 0, 0.300);
border-radius: 0px 0px 150px 150px;
clip-path: polygon(0 0, 100% 0, 115% 0%, 50% 80%, -14% 0%);
    

}
}
} 
.container-entervalue {
    display: grid;
    gap: 10px;
    padding: 10px;
    
    .player1 {
        background-color: rgba(0, 0, 0, 0.500);
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px;
        width: 140px;
        height: 30px;
        box-shadow: 0px 6px 0px 0px #00000035;
        margin: 0 auto;
        
    }
    input {
        display: block;
        height: 20px;
            background-color: rgba(0, 0, 0, 0.300);
border: 0;
box-shadow: 0px 6px 0px 0px #00000085;
    }
    button {
        background-color: rgba(208, 57, 57, 0.814);
        border: 0;
        height: 30px;
        cursor: pointer;
        transition: all 1s ease;
        &:hover {
                    background-color: rgba(208, 57, 57, 1);
            font-size: 1.1rem;
        }
    }
    span {
    width: 20px;
    height: 20px;
    cursor: pointer;
    border-radius: 50%;
    background-color: black;
}

}
.logochicken {
position: absolute;
    height: 500px;
    width: 500px;
    top: 150px;
    right: -190px;
    overflow: hidden;
    img {
   
    height: 500px;
    width: 500px;
    background-position: center;
    background-size: contain
    }

}   
#regles-poulet {
    max-width: 600px; 
    font-family: sans-serif; 
    line-height: 1.6;
    padding: 20px;
    ul {
        list-style-type: none;
        li {
            padding: 5px;
        }
    }
}




@media (max-width: 800px) {

.container-title {

   display: none;
   
}
.logochicken {
    display: none;
    max-height: 300px;
    max-width: 300px;
     right: -95px;
        top: 100px;
    img {
       
           max-height: 300px;
    max-width: 300px;
    }
}
}
