@mixin btn-style-light {
  color: $white;
  background-color: $color-secondary;
}
@mixin btn-style-dark {
  color: $white;
  background-color: $btn-dark;
}
// BTN SCALE
@mixin scale-btn($color) {
  transition: transform 0.3s ease;
  &:hover {
    transform: scale(1.1);
    background-color: $color;
    color: $black;
  }
}

@mixin btn-light1 {
  @include card-size(102px, 23px, ());
  border: 0;
  @include btn-style-light;
  @include scale-btn($color-main);
}
@mixin btn-light {
  @include card-size(102px, 23px, ());
  border: 0;
  @include btn-style-light;
  @include scale-btn($color-main);
}
@mixin btn-dark {
  @include card-size(102px, 23px, ());
  border: 0;
  border-radius: 8px;
  @include btn-style-dark;
  @include scale-btn($color-secondary);
}
@mixin btn-dark1 {
  @include card-size(102px, 23px, ());
  border: 0;
  @include btn-style-light;
  @include scale-btn($color-secondary);
}
button {
  @include btn-light;
}
