
#tab4 {
    h1 {
        text-shadow: 1px 1px 20px #000000; 
    }
}

#h2-t4 {
    text-align: center;
    text-shadow: 1px 1px 5px #000000; 
  }
  #p-t4 {
    text-align: center;
  }
  #p-t4 span {
    font-weight: bold;
  }