/* Style page 3 */

.fonc-check {
    display: grid;
  }
  .fonc-check {
    font-size: 1.1rem;
  }
  h3 {
    font-size: 1.1rem;
    margin: 10px 0;
    color: white;
  }
  .info-projet > label {
    font-size: 1.1rem;
    color: white;
  }