body {
    height: 100vh;
}
.container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.case-lettre {
  font-size: 28px;
  font-weight: bold;
  border-bottom: 2px solid black;
  width: 30px;
  text-align: center;
}
