@font-face {
    font-family:'Montserrat-Bold' ;
    src: url(/CSS/exo-1-hard/asset/font/Montserrat-Bold.ttf);
    font-family:'Montserrat-Regular' ;
    src: url(/CSS/exo-1-hard/asset/font/Montserrat-Regular.ttf);
    font-family:'OpenSans-Bold' ;
    src: url(/CSS/exo-1-hard/asset/font/OpenSans_Condensed-Bold.ttf);
    font-family:'OpenSans-Regular' ;
    src: url(/CSS/exo-1-hard/asset/font/OpenSans_Condensed-Regular.ttf);
}
*, *::before, *::after {
    box-sizing: border-box;
  }
  
  * {
    margin: 0;
    
  }
  
  body {
 
    line-height: 1.5;

    -webkit-font-smoothing: antialiased;
  }

  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }

  input, button, textarea, select {
    font: inherit;
  }
  
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
 
  p {
    text-wrap: pretty;
  }
  h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
  }
  
  #root, #__next {
    isolation: isolate;
  } 
body {
    margin: 0;
}

.cont-header {
    background: #f78800;
background: linear-gradient(90deg, rgba(247, 136, 0, 1) 0%, rgba(199, 193, 87, 1) 50%, rgba(175, 237, 83, 1) 100%);
    height: 100px ;
}
#title-header {
    text-align: center;
    color: white;
    font-family: 'OpenSans-Bold';
    padding-bottom: 10px;
    padding-top: 10px;
}
#sous-titre {
    color: white;
    text-align: center;
    font-family: 'OpenSans-Regular';
}
.line {
display: inline-block;
border-bottom:  1px solid white;
}
.trait {
    border:  1px solid;
    color:rgba(0, 107, 194, 0.795) ;
}
.content {
    width: 50%;
    text-align: center;  
    background-color: rgba(247, 247, 247, 0.432);
}
.center-content {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}
.cont-font {
    background-color:  rgba(224, 224, 224, 0.432) ;
}
#title-fonts {
    text-align: left;
    padding-bottom: 10px;
    color: rgba(0, 107, 194, 0.795);
}
#p1 {
    text-align: left;
    color: rgba(87, 162, 255, 0.918);
    padding-top: 5px;
    font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 0.8rem;
}
.cont-google-fonts {
    margin-bottom: 20px;
}
.title-p , p {
    text-align: left;
}
.Fonts {
    display: flex ;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 30px;
    font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}
.Fonts > div {
    flex: 1 1 200px; 
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 3px rgba(255, 255, 255, 0.61);
    background-color:  rgba(236, 236, 236, 0.904) ;
    max-width: 300px;
   
    
}
.Fonts > div:last-child {
    margin-right: auto;
}
.Fonts > div > p {
    display: flex;
    justify-content: center;
    flex-direction: row;
    font-size: 0.7rem;
    font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}
#title-font-cont {
    text-align: left;
    color: rgba(87, 162, 255, 0.918);
    padding-top: 5px;
    font-family: "OpenSans-Bold", sans-serif;
  font-weight: 800;
  font-style: normal;
  padding-bottom: 10px;
}
.Local {
    display: flex ;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 30px;
}
.Local > div {
    flex: 1 1 200px; 
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 3px rgba(255, 255, 255, 0.61);
    background-color:  rgba(236, 236, 236, 0.904) ;
    max-width: 300px;
   
    
}.Local > div:last-child {
    margin-right: auto;
}
.cont-local {
    margin-bottom: 20px;
}
.local-regu {
    font-family: 'OpenSans-Regular';
}
.local-bold {
    font-family: 'OpenSans-Bold';
}
.local-regular {
     font-family: 'Montserrat-Regular'
}
.local-bold-mont {
    font-family: 'Montserrat-Bold' ;
}