body {
    margin: 0;
}
header {
    position: relative;
  
 nav {
    position: fixed;
     z-index: 1;
width: 100%;
}  

}
.video-merco {
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-items: center;
    align-items: center;
    justify-content: center;
    video {
        position: relative;
        width: 100%;
        height: auto; /* pour garder le bon ratio largeur/hauteur */
        max-height: 50vh; /* ajustable : ici 30% de la hauteur de la fenêtre */
        object-fit: cover; 
    }
    
}
.merco-evo2 {
    display: flex;
    justify-items: center;
    align-items: center;
    justify-content: center;
    margin: 10px 0;
    img {
        object-fit: cover;
        background-position: center;
       width: 100%;
        max-height: 50vh;
        height: auto;
        filter: blur(4px);
    }
    
}
.info-img {
    z-index: 1;
    position: absolute;
    color: white;
    display: grid;
    justify-items: start;
    a {
        text-decoration: none;
        background-color: rgba(0, 0, 0, 0.527);
        padding: 10px;
        border-radius: 8px;
        border: 1px solid black;
        color: white;
        background: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0.377) 50%,
      rgba(0, 0, 0, 0.442) 50%
    );
    background-size: 100% 200%;
    background-position: top;
    transition: background-position 0.5s ease-in-out;
    cursor: pointer;
    color: rgb(0, 0, 0); 
    &:hover {
      background-position: bottom;
      color: white;
    }
    }
    p {
        margin-bottom: 25px; ;
    }
}
.gallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 10px;
    .img-container {
        width: 100%;
        height: 100%;
        position: relative;

        img {
            width: 100%;
            height: 100%; // très important : l’image prend toute la div
            object-fit: cover; // remplissage propre sans déformation
            background-position: center;
            display: block; // évite les petits espaces blancs sous l'image
        }
    }
    .flou-img {
        width: 100%;
        height: 100%; 
        object-fit: cover; 
        background-position: center;
        display: block;
    }
    .flou-img1 {
        filter: blur(2px);
    }
.info-gallery {
    position: absolute;
    z-index: 1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    text-align: center;
    color: rgb(0, 0, 0);
    padding: 1rem;
    background: rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    background: linear-gradient(
  to bottom,
  rgba(255, 255, 255, 0.377) 50%,
  rgba(0, 0, 0, 0.442) 50%
);
background-size: 100% 200%;
background-position: top;
transition: background-position 0.5s ease-in-out;
cursor: pointer;
 
&:hover {
  background-position: bottom;
  color: white;
}
    
}
}
footer {
    margin-top: 10px;
    background-color: rgb(0, 0, 0);
    height: 30vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-items: center;
    #trait {
        border: 1px solid white;
        width: 80%;
        position: absolute;
        left: 10%;
        bottom: 80%;

    }
    #footer-logo {
       
        img {
            height: 200px;
            width: 200px;
        }
        
    }
}