.togglemenu {
  max-height: 0;
  overflow: hidden;
  display: grid;
  background-color: #4444447c;
  transition: max-height 0.3s ease;
  position: absolute;
  left: 74%;
  transform: translateY(40px);
  padding: 0;
  border-radius: 6px;
  li {
    position: relative;
    cursor: pointer;
    color: black;
    background: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.356) 50%,
      rgb(255, 255, 255) 50%
    );
    background-size: 200% 100%;
    background-position: left bottom;
    transition: background-position 0.5s ease-in-out, color 0.5s ease-in-out;
    margin: 10px;
    width: 100%;
    border-radius: 6px;
  }

  li:hover {
    background-position: right bottom;
  }
  a {
    text-decoration: none;
    color: black;
    &:hover {
      color: $color1;
    }
  }
}
input.toggle-menu:checked + label + .togglemenu {
  max-height: 500px;
}
li {
  label {
    cursor: pointer;
  }
}
input.toggle-menu {
  visibility: hidden;
}
#check-menu {
  width: 81px;
}
