@charset "UTF-8";
@font-face {
  font-family: "PT Sans";
  src: url("/CSS/position-basic/exo-pb-1/asset/font/PTSans-Bold.ttf") format("truetype");
  src: url("/CSS/position-basic/exo-pb-1/asset/font/PTSans-BoldItalic.ttf") format("truetype");
  src: url("/CSS/position-basic/exo-pb-1/asset/font/PTSans-Italic.ttf") format("truetype");
  src: url("/CSS/position-basic/exo-pb-1/asset/font/PTSans-Regular.ttf") format("truetype");
}
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

nav {
  background-color: rgba(0, 0, 0, 0.494);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}
nav #nav-logo img {
  max-height: 100px;
  max-width: 100px;
}
nav #nav-logo img:hover {
  cursor: pointer;
  filter: drop-shadow(0 0 0.75rem rgb(133, 133, 133));
}
nav #nav-right ul {
  display: flex;
  justify-items: center;
  align-items: center;
  flex-direction: row-reverse;
  padding: 0px;
  margin: 20px;
}
nav #nav-right ul li {
  list-style-type: none;
  padding: 10px;
  color: white;
  transition: all 0.5s;
}
nav #nav-right ul li:hover {
  cursor: pointer;
  background-color: black;
  border-radius: 8px;
}

body {
  margin: 0;
}

header {
  position: relative;
}
header nav {
  position: fixed;
  z-index: 1;
  width: 100%;
}

.video-merco {
  width: 100%;
  overflow: hidden;
  display: flex;
  justify-items: center;
  align-items: center;
  justify-content: center;
}
.video-merco video {
  position: relative;
  width: 100%;
  height: auto; /* pour garder le bon ratio largeur/hauteur */
  max-height: 50vh; /* ajustable : ici 30% de la hauteur de la fenêtre */
  -o-object-fit: cover;
     object-fit: cover;
}

.merco-evo2 {
  display: flex;
  justify-items: center;
  align-items: center;
  justify-content: center;
  margin: 10px 0;
}
.merco-evo2 img {
  -o-object-fit: cover;
     object-fit: cover;
  background-position: center;
  width: 100%;
  max-height: 50vh;
  height: auto;
  filter: blur(4px);
}

.info-img {
  z-index: 1;
  position: absolute;
  color: white;
  display: grid;
  justify-items: start;
}
.info-img a {
  text-decoration: none;
  background-color: rgba(0, 0, 0, 0.527);
  padding: 10px;
  border-radius: 8px;
  border: 1px solid black;
  color: white;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.377) 50%, rgba(0, 0, 0, 0.442) 50%);
  background-size: 100% 200%;
  background-position: top;
  transition: background-position 0.5s ease-in-out;
  cursor: pointer;
  color: rgb(0, 0, 0);
}
.info-img a:hover {
  background-position: bottom;
  color: white;
}
.info-img p {
  margin-bottom: 25px;
}

.img-container {
  width: 100%;
  height: 100%;
  position: relative;
}
.img-container img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  background-position: center;
  display: block;
  border-radius: 8px;
  box-shadow: 0px 5px 31px 5px rgba(0, 0, 0, 0.53);
}

.flou-img1 {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  background-position: center;
  display: block;
  transform: scale(0.8);
  transition: transform 0.8s ease-out;
  border-radius: 8px;
  box-shadow: 0px 5px 31px 5px rgba(0, 0, 0, 0.53);
}
.flou-img1:hover {
  transform: scale(1);
}

.flou-img1 {
  filter: blur(2px);
}

.info-gallery {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  text-align: center;
  color: rgb(0, 0, 0);
  padding: 1rem;
  background: rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.377) 50%, rgba(0, 0, 0, 0.442) 50%);
  background-size: 100% 200%;
  background-position: top;
  transition: background-position 0.5s ease-in-out;
  cursor: pointer;
}
.info-gallery:hover {
  background-position: bottom;
  color: white;
}

footer {
  margin-top: 10px;
  background-color: rgb(0, 0, 0);
  height: 30vh;
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
  align-items: center;
  justify-items: center;
}
footer #trait {
  border: 1px solid white;
  width: 80%;
  position: absolute;
  left: 10%;
  bottom: 85%;
}
footer #footer-logo img {
  height: 150px;
  width: 150px;
  transition: transform 0.5s;
  transition: transform 1s;
  transform-style: preserve-3d;
  perspective: 800px;
}
footer #footer-logo img:hover {
  cursor: pointer;
  filter: drop-shadow(0 0 0.75rem rgb(133, 133, 133));
  transform: scale(0.7);
  transform: rotateX(360deg);
}
footer .footer-li {
  z-index: 1;
  color: white;
}
footer .footer-li ul {
  list-style-type: none;
}

#onglet {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-items: center;
  grid-column: -3/-2;
  width: 100%;
  height: 100px;
  gap: 20px;
}
#onglet .select-onglet {
  border: 1px solid black;
  border-radius: 8px;
  padding: 15px;
  transition: all 0.5s;
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.53);
}
#onglet .select-onglet:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.625);
}

.gallery {
  position: relative;
  width: 100%;
  margin: 10px;
}

.gallery-page {
  display: none;
  opacity: 0;
  transition: opacity 0.5s ease;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  gap: 10px;
  margin: 10px;
}

.gallery-page.active {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  opacity: 1;
}

#page2 {
  background-color: rgb(99, 211, 255);
}

.img-container img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 8px;
  box-shadow: 0px 5px 31px 5px rgba(0, 0, 0, 0.53);
}

@media (max-width: 770px) {
  body {
    font-size: 0.8rem;
  }
  body .info-img {
    justify-items: center;
  }
  body .gallery {
    align-items: center;
    flex-direction: column;
  }
  body .gallery img {
    width: 90%;
    height: auto;
    border-radius: 8px;
  }
  body .gallery .info-gallery {
    font-size: 0.7rem;
  }
  body .gallery .info-gallery h1 {
    font-size: 0.8rem;
  }
  body .gallery-page.active {
    display: flex;
    flex-direction: column;
  }
  header nav {
    position: unset;
    padding: 0;
    background-color: black;
  }
  header nav #nav-logo {
    display: flex;
    justify-items: center;
    margin: 5px;
  }
  header nav #nav-logo img {
    height: 50px;
  }
  header nav #nav-right ul {
    flex-wrap: wrap;
    flex-direction: column;
  }
  header nav #nav-right ul .togglemenu {
    left: 27%;
    transform: translateY(-10px);
    background-color: rgba(255, 255, 255, 0.788);
  }
}
.togglemenu {
  max-height: 0;
  overflow: hidden;
  display: grid;
  background-color: rgba(68, 68, 68, 0.4862745098);
  transition: max-height 0.3s ease;
  position: absolute;
  left: 74%;
  transform: translateY(40px);
  padding: 0;
  border-radius: 6px;
}
.togglemenu li {
  position: relative;
  cursor: pointer;
  color: black;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.356) 50%, rgb(255, 255, 255) 50%);
  background-size: 200% 100%;
  background-position: left bottom;
  transition: background-position 0.5s ease-in-out, color 0.5s ease-in-out;
  margin: 10px;
  width: 100%;
  border-radius: 6px;
}
.togglemenu li:hover {
  background-position: right bottom;
}
.togglemenu a {
  text-decoration: none;
  color: black;
}
.togglemenu a:hover {
  color: rgb(57, 119, 255);
}

input.toggle-menu:checked + label + .togglemenu {
  max-height: 500px;
}

li label {
  cursor: pointer;
}

input.toggle-menu {
  visibility: hidden;
}

#check-menu {
  width: 81px;
}/*# sourceMappingURL=index.css.map */