.container-galerie {
  width: 100%;
  @include wrap-flex;
  .container-card-img {
    @include grid(3, 2fr);
    width: 100%;
    @include gap(p-s);
    @include padding-y(p-s);
    .card {
      @include card-size1(100%, 300px, ());
    }
    .card-img-1 {
      @include bg-image-cover('./asset/img/galleries/hamburger_small.jpg');
    }
    .card-img-2 {
      @include bg-image-cover('./asset/img/galleries/wrap_small.jpg');
    }
    .card-img-3 {
      @include bg-image-cover('./asset/img/galleries/gateau_small.jpg');
    }
    .card-img-4 {
      @include bg-image-cover('./asset/img/galleries/pancake_small.jpg');
    }
    .card-img-5 {
      @include bg-image-cover('./asset/img/galleries/oeufs_small.jpg');
    }
    .card-img-6 {
      @include bg-image-cover('./asset/img/galleries/poisson_small.jpg');
    }
  }
  .title-main {
    width: 100%;
  }
}
