// CARD RECETTE MAIN MIDDLE

.card-recette {
  width: 60%;
  display: grid;
  justify-items: center;
}
.logo-card {
  @include bg-image-cover('./asset/img/bg-container/toque.png');
  @include card-size1(40px, 40px, ());
  @include absolute-center;
  top: 100%;
}

.recette-1 {
  @include padding-y(p-xs);

  .img-top {
    @include bg-image-cover('./asset/img/galleries/tacos.jpg');
    @include card-size1(100%, 278px, ());

    position: relative;
  }
}
.recette-2 {
  @include padding-y(p-xs);
  .img-top {
    @include bg-image-cover('./asset/img/galleries/cote_de_boeuf.jpg');
    @include card-size1(100%, 205px, ());
    position: relative;
  }
}
.recette-3 {
  @include padding-y(p-xs);
  .img-top {
    @include bg-image-cover('./asset/img/galleries/carrot.jpg');
    @include card-size1(100%, 205px, ());
    position: relative;
  }
}
.title-recette {
  color: $color-secondary;
}
.recette-4 {
  @include padding-y(p-xs);
  .img-top {
    @include bg-image-cover('./asset/img/galleries/cookies.jpg');
    @include card-size1(100%, 278px, ());
    position: relative;
  }
}
.txt-card {
  display: grid;
  justify-items: center;
  background-color: $color-main;
  @include padding(p-s);
  @include gap(p-s);

  p {
    text-align: center;
    letter-spacing: 2px;
  }
}
.cont-recette-flex {
  display: flex;
  @include gap(p-s);
  @media (max-width: 500px) {
    display: flex;
    flex-wrap: wrap;
  }
}
