// Card MAIN TOP

main {
  .card-main {
    @include card-size(
      240px,
      240px,
      (
        sm: (
          100px,
          150px,
        ),
        md: (
          150px,
          200px,
        ),
        lg: (
          200px,
          250px,
        ),
      )
    );
  }
  .container-card {
    align-items: center;
    justify-items: center;
    margin: 0 auto;
    width: 80%;
    @include padding-y(p-xs);
    @include grid(3);
    gap: 2rem;
    @media (max-width: 1280px) {
      gap: 1.5rem;
    }
    @media (max-width: 1024px) {
      @include grid(2);
      gap: 1rem;
    }
    @media (max-width: 768px) {
      @include grid(1);
      gap: 0.7rem;
      width: 95%;
    }
    @media (max-width: 600px) {
      gap: 0.5rem;
      width: 98%;
      padding: 0.2rem;
    }
    .card-1,
    .card-2,
    .card-3 {
      min-width: 90%;
      min-height: 350px;
      @include min-height-whidth(90%, 400px);
      @include center-flex;
      @include padding(p-xs);

      h2 {
        @include padding(p-xs);
        @include border-y($color-primary);
        color: $color-primary;
      }
    }
    .card-1 {
      @include bg-image-cover('./asset/img/galleries/soupe.jpg');
    }
    .card-2 {
      @include bg-image-cover('./asset/img/galleries/salade.jpg');
    }
    .card-3 {
      @include bg-image-cover('./asset/img/galleries/dessert.jpg');
    }
  }
}

.card-main {
@include card-resp;
 
}
