.container-galerie {
  width: 100%;
  @include wrap-flex;
  .container-card-img {
    @include grid(3, 2fr);
    gap: 2rem;
    @media (max-width: 1280px) {
      gap: 1.5rem;
    }
    @media (max-width: 1024px) {
      @include grid(2, 2fr);
      gap: 1rem;
    }
    @media (max-width: 768px) {
      @include grid(1, 1fr);
      gap: 0.7rem;
    }
    @media (max-width: 600px) {
      gap: 0.5rem;
      padding: 0.2rem;
    }
    width: 100%;
    @include gap(p-s);
    @include padding-y(p-s);
    .card {
      min-width: 90%;
      min-height: 400px;
      @media (max-width: 1024px) {
        @include card-size1(100%, 220px, ());
      }
      @media (max-width: 768px) {
        @include card-size1(100%, 180px, ());
      }
      @media (max-width: 600px) {
        @include card-size1(100%, 120px, ());
      }
    }
    .card-img-1 {
      @include bg-image-cover('./asset/img/galleries/hamburger_small.jpg');
    }
    .card-img-2 {
      @include bg-image-cover('./asset/img/galleries/wrap_small.jpg');
    }
    .card-img-3 {
      @include bg-image-cover('./asset/img/galleries/gateau_small.jpg');
    }
    .card-img-4 {
      @include bg-image-cover('./asset/img/galleries/pancake_small.jpg');
    }
    .card-img-5 {
      @include bg-image-cover('./asset/img/galleries/oeufs_small.jpg');
    }
    .card-img-6 {
      @include bg-image-cover('./asset/img/galleries/poisson_small.jpg');
    }
  }
  .title-main {
    width: 100%;
  }
}
