aside {
  width: 30%;
  .card-aside {
    @include bg-img('./asset/img/galleries/bieres.jpg');
  }
  .card-perso {
    @include bg-image('./asset/img/galleries/me.jpg');
    @include center-flex;
    height: 300px;
    width: 300px;
    flex-direction: column;
    justify-content: flex-end;
    color: $color-main1;
    @include padding(p-xxs);
    gap: 10px;
    ul {
      @include center-flex;
      list-style-type: none;
      gap: 10px;
    }
    span {
      @include center-flex;
    }
    p {
      @include center-flex;
      text-align: center;
      width: 230px;
    }
  }
  .c-categorie {
    @include grid(1, 2fr);
    ul {
      list-style-type: none;
      li {
        @include padding(p-xxs);
        display: flex;
        align-items: center;
        justify-content: space-between;
        @include gap(p-xs);
        i {
          color: $white;
        }
      }
    }
  }
}
