footer {
  @include bg-image-cover('./asset/img/bg-container/Calque.png');
  @include card-size(100%, 30vh, 100%, 30vh);
  position: relative;
  &::before {
    @include absolute-overlay;
  }
  .container-footer {
    position: relative;
    color: $white;
    .logo-footer {
      @include bg-image('./asset/img/bg-container/logo_footer.png');
      @include absolute-left;
      @include card-size(100px, 100px, 100px, 100px);
    }
    @include card-size(80%, 85%, 80%, 85%);
    @include grid(1, 1fr);
    justify-items: end;
    color: $white;
    ul {
      display: flex;
      @include padding(p-xxs);
      list-style-type: none;
      li {
        @include padding(p-xs);
      }
    }
    p {
      @include padding(p-xxs);
    }
  }
}
