header {
  position: relative;
  @include center-flex;
  width: 100%;
  @include bg-image-cover('./asset/img/bg-container/bg_header.jpg');
  @include min-height-whidth(100%, 500px);

  .icon-header {
    @include bg-image-cover('./asset/img/bg-container/logo_header.png');
    @include min-height-whidth(250px, 100px);
    @include card-size1(250px, 100px, (50%, 50%));
  }
  nav {
    min-width: 100%;
    position: absolute;
    bottom: 0;
    z-index: 1;
    background-color: $color-primary;

    @include center-flex-around;
    @include responsive-gap-from-map;
    .container-nav {
      @include center-flex;

      height: 100%;

      li {
        list-style: none;
        @include padding(p-xs);
        a {
          list-style-type: none;
          text-decoration: none;
          color: $color-secondary;
        }
      }
    }
    .bar-search {
      @include center-flex;
      @include padding(p-xs);

      .icon-search {
        @include bg-image-cover('./asset/img/logo/search.svg');
        background-color: $color-secondary;
        @include card-size(20px, 20px, 80%, 80%);

        @include padding(p-xxs);
        cursor: pointer;
        &:hover {
          background-color: $color-primary;
        }
      }
      input {
        @include min-height-whidth(20px, 18px);
        @include padding(p-xxs);
        border: 1px solid $color-secondary;
        text-decoration: none;
        background-color: $color-primary;
        &::placeholder {
          color: $color-secondary;
        }
      }
    }
  }
}
