* {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
}
* h1,
* h2,
* h3,
* span {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
}

button {
  width: 102px;
  height: 23px;
  border: 0;
  color: #ffffff;
  background-color: #c44e4e;
  transition: transform 0.3s ease;
}
button:hover {
  background-color: rgba(163, 214, 81, 0.7725490196);
  transform: scale(1.1);
}

header {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-image: url(./asset/img/bg-container/bg_header.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 300px;
  width: 100%;
}
header .icon-header {
  background-image: url(./asset/img/bg-container/logo_header.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  min-width: 250px;
  min-height: 100px;
}
header nav {
  min-width: 100%;
  position: absolute;
  bottom: 0;
  z-index: 1;
  color: white;
  background-color: #cca57c;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
@media (min-width: 480px) {
  header nav {
    gap: 0.5rem;
  }
}
@media (min-width: 600px) {
  header nav {
    gap: 1.25rem;
  }
}
@media (min-width: 768px) {
  header nav {
    gap: 1.5rem;
  }
}
@media (min-width: 1024px) {
  header nav {
    gap: 2rem;
  }
}
@media (min-width: 1280px) {
  header nav {
    gap: 3rem;
  }
}
header nav .container-nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100%;
}
header nav .container-nav li {
  list-style: none;
  padding: 1rem;
  color: #c44e4e;
}
header nav .bar-search {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}
header nav .bar-search .icon-search {
  background-image: url(./asset/img/logo/search.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: #c44e4e;
  min-width: 20px;
  min-height: 20px;
  padding: 0.5rem;
  cursor: pointer;
}
header nav .bar-search .icon-search:hover {
  background-color: #cca57c;
}
header nav .bar-search input {
  min-width: 20px;
  min-height: 18px;
  padding: 0.5rem;
  border: 1px solid #c44e4e;
  text-decoration: none;
  background-color: #cca57c;
}
header nav .bar-search input::-moz-placeholder {
  color: #c44e4e;
}
header nav .bar-search input::placeholder {
  color: #c44e4e;
}

main {
  background-color: rgba(39, 39, 39, 0.7882352941);
}
main .container-main {
  max-width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}
main .container-main .title-main {
  max-width: 100%;
  text-align: center;
  color: #cca57c;
  border-top: 1px solid #c44e4e;
  border-bottom: 1px solid #c44e4e;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

footer {
  background-image: url(./asset/img/bg-container/bg_footer.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  filter: brightness(0.4);
  width: 100%;
  height: 25vh;
}
footer .bg-calque {
  background-image: url(./asset/img/bg-container/Calque.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  width: 100%;
  height: 100%;
}
footer .bg-calque .container-footer {
  position: relative;
  height: 100%;
  width: 80%;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(1, 1fr);
  gap: 1fr;
  justify-items: end;
  color: #ffffff;
}
footer .bg-calque .container-footer .logo-footer {
  background-image: url(./asset/img/bg-container/logo_footer.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  position: absolute;
  top: 50%;
  left: 20%;
  transform: translate(-50%, -50%);
  width: 100px;
  height: 100px;
}
footer .bg-calque .container-footer ul {
  display: flex;
  padding: 0.5rem;
  list-style-type: none;
}
footer .bg-calque .container-footer ul li {
  padding: 1rem;
}
footer .bg-calque .container-footer p {
  padding: 0.5rem;
}

aside {
  max-height: 1100px;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(1, 1fr);
  gap: 4fr;
  gap: 1.5rem;
}
aside .container-card-perso {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}
aside .card-perso {
  background-image: url(./asset/img/galleries/me.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 284px;
  width: 309px;
  flex-direction: column;
  justify-content: flex-end;
  color: rgba(39, 39, 39, 0.7882352941);
  padding: 0.5rem;
  gap: 10px;
}
aside .card-perso ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  gap: 10px;
}
aside .card-perso span {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
aside .card-perso p {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 230px;
}
aside .c-categorie {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(1, 1fr);
  gap: 2fr;
  align-items: center;
  justify-items: center;
}
aside .c-categorie .title-main {
  width: 239px;
}
aside .c-categorie ul {
  width: 239px;
  list-style-type: none;
}
aside .c-categorie ul li {
  padding: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 3rem;
}
aside .c-categorie ul li i {
  color: #ffffff;
}
aside .card-aside {
  background-image: url(./asset/img/galleries/bieres.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  min-height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}
aside .card-aside .border-card {
  border: 1px solid black;
  justify-items: center;
  width: 65%;
  height: 280px;
  display: grid;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  color: #cca57c;
}
aside .card-aside-1 {
  background-image: url(./asset/img/galleries/cafe.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  min-height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}
aside .card-aside-1 .border-card {
  border: 1px solid black;
  justify-items: center;
  width: 65%;
  height: 280px;
  display: grid;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  color: #cca57c;
}

main .container-card {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(1, 1fr);
  gap: 1fr;
  padding-top: 1rem;
  padding-bottom: 1rem;
  gap: 0.75rem;
  max-width: 80%;
  margin: 0 auto;
}
main .container-card .card-1,
main .container-card .card-2,
main .container-card .card-3 {
  min-width: 200px;
  min-height: 250px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}
main .container-card .card-1 h2,
main .container-card .card-2 h2,
main .container-card .card-3 h2 {
  padding: 1rem;
  border-top: 1px solid #cca57c;
  border-bottom: 1px solid #cca57c;
  color: #cca57c;
}
main .container-card .card-1 {
  background-image: url(./asset/img/galleries/soupe.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}
main .container-card .card-2 {
  background-image: url(./asset/img/galleries/salade.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}
main .container-card .card-3 {
  background-image: url(./asset/img/galleries/dessert.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

.card-recette {
  width: 687px;
}

.recette-1 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.recette-1 .img-top {
  background-image: url(./asset/img/galleries/tacos.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  min-width: 100%;
  height: 278px;
  position: relative;
}
.recette-1 .logo-card {
  background-image: url(./asset/img/bg-container/toque.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  width: 40px;
  height: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  top: 100%;
}
.recette-1 .txt-card {
  display: grid;
  justify-items: center;
  background-color: rgba(163, 214, 81, 0.7725490196);
  padding: 1.5rem;
  gap: 0.75rem;
}
.recette-1 .txt-card p {
  text-align: center;
  letter-spacing: 2px;
}

.recette-2 {
  padding-top: 1rem;
  padding-bottom: 1rem;
  display: grid;
  justify-items: center;
}
.recette-2 .img-top {
  background-image: url(./asset/img/galleries/cote_de_boeuf.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  min-width: 100%;
  height: 205px;
  position: relative;
}
.recette-2 .logo-card {
  background-image: url(./asset/img/bg-container/toque.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  min-width: 100%;
  height: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  top: 100%;
}
.recette-2 .txt-card {
  display: grid;
  justify-items: center;
  background-color: rgba(163, 214, 81, 0.7725490196);
  padding: 1.5rem;
  gap: 0.75rem;
}
.recette-2 .txt-card p {
  text-align: center;
  letter-spacing: 2px;
}

.recette-3 {
  padding-top: 1rem;
  padding-bottom: 1rem;
  display: grid;
  justify-items: center;
}
.recette-3 .img-top {
  background-image: url(./asset/img/galleries/carrot.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  min-width: 100%;
  height: 205px;
  position: relative;
}
.recette-3 .logo-card {
  background-image: url(./asset/img/bg-container/toque.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  width: 40px;
  height: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  top: 100%;
}
.recette-3 .txt-card {
  display: grid;
  justify-items: center;
  background-color: rgba(163, 214, 81, 0.7725490196);
  padding: 1.5rem;
  gap: 0.75rem;
}
.recette-3 .txt-card p {
  text-align: center;
  letter-spacing: 2px;
}

.title-recette {
  color: #c44e4e;
}

.recette-4 {
  padding-top: 1rem;
  padding-bottom: 1rem;
  display: grid;
  justify-items: center;
}
.recette-4 .img-top {
  background-image: url(./asset/img/galleries/cookies.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  min-width: 100%;
  height: 278px;
  position: relative;
}
.recette-4 .logo-card {
  background-image: url(./asset/img/bg-container/toque.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  width: 40px;
  height: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  top: 100%;
}
.recette-4 .txt-card {
  display: grid;
  justify-items: center;
  background-color: rgba(163, 214, 81, 0.7725490196);
  padding: 1.5rem;
  gap: 0.75rem;
}
.recette-4 .txt-card p {
  text-align: center;
  letter-spacing: 2px;
}

.cont-recette-flex {
  display: flex;
  gap: 0.75rem;
}

.container-galerie {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}
.container-galerie .container-card-img {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(1, 1fr);
  gap: 2fr;
  justify-content: center;
  justify-items: center;
  width: 100%;
  gap: 0.75rem;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}
.container-galerie .container-card-img div {
  width: 300px;
  height: 210px;
}
.container-galerie .container-card-img .card-img-1 {
  background-image: url(./asset/img/galleries/hamburger_small.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}
.container-galerie .container-card-img .card-img-2 {
  background-image: url(./asset/img/galleries/wrap_small.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}
.container-galerie .container-card-img .card-img-3 {
  background-image: url(./asset/img/galleries/gateau_small.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}
.container-galerie .container-card-img .card-img-4 {
  background-image: url(./asset/img/galleries/pancake_small.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}
.container-galerie .container-card-img .card-img-5 {
  background-image: url(./asset/img/galleries/oeufs_small.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}
.container-galerie .container-card-img .card-img-6 {
  background-image: url(./asset/img/galleries/poisson_small.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}
.container-galerie .title-main {
  width: 100%;
}/*# sourceMappingURL=index.css.map */