@font-face {
  font-family: "Allura";
  src: url("/Progamming/annex/exo-leresto/font/Allura-Regular.ttf")
    format("truetype");
}

@font-face {
  font-family: "Roboto";
  src: url("/Progamming/annex/exo-leresto/font/Roboto_Condensed-Light.ttf")
    format("truetype");
}

body {
  font-family: "Roboto", sans-serif;
}
