@media (max-width: 760px) {
  nav {
    display: flex;
    flex-wrap: wrap;
    height: 14vh;
    justify-content: center;
    justify-items: center;
    text-align: center;
  }
  header {
    font-size: 0.8rem;
  }
  main {
    h3 {
      font-size: 0.8rem;
    }
    #service {
      font-size: 0.8rem;
    }
  }
  .cont-service {
    font-size: 0.8rem;
  }
}
