button {
  width: 100%;
  background-color: rgb(255, 255, 255);
  border: 1px solid rgba(128, 128, 128, 0.466);
  box-shadow: 0px 2px 6px rgb(216, 216, 216);
  border-radius: 0 0 5px 5px;
  &:hover {
    background-color: rgba(2, 250, 126, 0.699);
    cursor: pointer;
    color: white;
  }
}
#btmd {
  margin-bottom: 20px;
}
