header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: cadetblue;
  height: 10vh;
  #nav-left {
    display: flex;
    align-items: center;
    gap: 10px;
    h1 {
      color: white;
      box-shadow: 7px 5px 10px 0px #696a6d;
      &:hover {
        cursor: pointer;
        box-shadow: 7px 5px 10px 0px #113c6e;
      }
    }
  }
  #nav-mb {
    visibility: hidden;
    span {
      cursor: pointer;
      padding: 10px;
      color: white;
    }
    @media (max-width: 750px) {
      visibility: visible;
    }
  }
}
body.alt-style header {
  background-color: black;
}
body.alt-style footer {
  background-color: black;
}
