@media (max-width: 750px) {
  body main {
    display: flex;
    flex-direction: row; // ou column selon le rendu souhaité
    flex-wrap: wrap;
  }

  body main nav {
    height: 100%;
    ul {
      display: flex;
    }
    order: 1;
    width: 100%;
  }

  body main .cont-middle {
    order: 2;
    width: 70%;
    padding: 50px;
  }

  .cont-right {
    order: 3;
    width: 30%;
  }
}
@media (max-width: 560px) {
  body main nav {
    ul {
      display: block;
    }
  }
  body main .cont-middle {
    padding: 0.5rem 1rem;
    width: 100%;
  }
  body main .cont-right {
    font-size: 0.8rem;
    width: 100%;
  }
  footer .cont-footer {
    display: flex;
    justify-content: center;
    justify-items: center;
    font-size: 0.8rem;
  }
}
