*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

body {
  /* 3. Add accessible line-height */
  line-height: 1.5;
  /* 4. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 5. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 6. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

/* 7. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* 8. Improve line wrapping */
p {
  text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

@font-face {
  font-family: "PT Sans";
  src: url("/CSS/position-basic/exo-pb-1/asset/font/PTSans-Bold.ttf") format("truetype");
  src: url("/CSS/position-basic/exo-pb-1/asset/font/PTSans-BoldItalic.ttf") format("truetype");
  src: url("/CSS/position-basic/exo-pb-1/asset/font/PTSans-Italic.ttf") format("truetype");
  src: url("/CSS/position-basic/exo-pb-1/asset/font/PTSans-Regular.ttf") format("truetype");
}
body {
  font-family: "PT Sans";
}

body nav {
  display: grid;
  height: 100vh;
  width: 100%;
}
body nav ul {
  list-style-type: none;
  padding: 0;
  background-color: rgba(219, 219, 219, 0.37);
  box-shadow: 2px 2px 10px 0px rgb(180, 180, 180);
}
body nav ul li {
  padding: 10px;
  margin: 10px;
}
body nav ul li:hover {
  cursor: pointer;
  background-color: rgb(53, 164, 255);
  border-radius: 8px;
  color: white;
}
body main {
  display: grid;
  grid-template-columns: 20% 60% 20%;
}
body main .cont-middle {
  width: 100%;
  max-width: 900px;
  padding: 0 4rem;
  box-sizing: border-box;
  font-size: 0.8rem;
}
body main .cont-middle h1 {
  padding: 10px 0;
}
body main .cont-right {
  height: 100vh;
  background-color: rgba(219, 219, 219, 0.37);
  box-shadow: 2px 2px 10px 0px rgb(180, 180, 180);
  padding: 10px;
}
body main .cont-right #box-left1 ul {
  padding: 0;
  list-style-type: none;
}
body main .cont-right #box-left1 ul li {
  padding: 10px 0;
}
body main .cont-right #box-left2 p {
  padding: 10px 0;
}
body main .cont-right #box-left2 input {
  width: 100%;
  background-color: rgb(255, 255, 255);
  border: 1px solid rgba(128, 128, 128, 0.466);
  box-shadow: 0px -2px 6px rgb(216, 216, 216);
  border-radius: 5px 5px 0 0;
  text-align: center;
}
body main .cont-right #box-left3 span {
  display: inline-block;
  margin: 2px;
  padding: 4px;
  border: 1px solid black;
  border-radius: 4px;
  background-color: white;
  font-size: 0.9rem;
}
body main .cont-right #box-left3 span:hover {
  background-color: rgba(184, 184, 184, 0.418);
  cursor: pointer;
}
body #middle-part {
  display: flex;
  gap: 5px;
}
body #middle-part ul {
  list-style-type: none;
  padding: 0;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: cadetblue;
  height: 10vh;
}
header #nav-left {
  display: flex;
  align-items: center;
  gap: 10px;
}
header #nav-left h1 {
  color: white;
  box-shadow: 7px 5px 10px 0px #696a6d;
}
header #nav-left h1:hover {
  cursor: pointer;
  box-shadow: 7px 5px 10px 0px #113c6e;
}
header #nav-mb {
  visibility: hidden;
}
header #nav-mb span {
  cursor: pointer;
  padding: 10px;
  color: white;
}
@media (max-width: 750px) {
  header #nav-mb {
    visibility: visible;
  }
}
@media (max-width: 550px) {
  header #nav-mb {
    visibility: hidden;
  }
}

body.alt-style header {
  background-color: black;
}

body.alt-style footer {
  background-color: black;
}

button {
  width: 100%;
  background-color: rgb(255, 255, 255);
  border: 1px solid rgba(128, 128, 128, 0.466);
  box-shadow: 0px 2px 6px rgb(216, 216, 216);
  border-radius: 0 0 5px 5px;
}
button:hover {
  background-color: rgba(2, 250, 126, 0.699);
  cursor: pointer;
  color: white;
}

#btmd {
  margin-bottom: 20px;
}

footer {
  background-color: cadetblue;
}
footer .cont-footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
footer .cont-footer #title-form {
  padding: 10px;
  color: white;
}
footer .cont-footer #title-form span {
  font-size: 0.8rem;
  color: rgb(0, 7, 104);
}
footer .cont-footer #title-form div {
  display: flex;
  align-items: center;
}
footer .cont-footer #title-form div h3 {
  margin-left: 10px;
}
footer #onglet-form {
  padding: 10px;
  color: white;
}
footer #onglet-form ul {
  list-style-type: none;
  padding: 5px 0;
  color: rgb(0, 7, 104);
  font-size: 0.8rem;
}
footer #contact-form {
  padding: 10px;
  color: white;
}
footer #contact-form span {
  padding: 5px 0;
  color: rgb(0, 7, 104);
  font-size: 0.8rem;
}
footer #icon-form {
  padding: 10px;
  color: white;
  margin: 0 auto;
}
footer #copy {
  text-align: center;
  color: rgb(0, 7, 104);
}
footer #copy span {
  margin-left: 5px;
}

@media (max-width: 750px) {
  body main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  body main nav {
    height: 100%;
    order: 1;
    width: 100%;
  }
  body main nav ul {
    display: flex;
  }
  body main .cont-middle {
    order: 2;
    width: 70%;
    padding: 50px;
  }
  .cont-right {
    order: 3;
    width: 30%;
  }
}
@media (max-width: 560px) {
  body main nav ul {
    display: block;
  }
  body main .cont-middle {
    padding: 0.5rem 1rem;
    width: 100%;
  }
  body main .cont-right {
    font-size: 0.8rem;
    width: 100%;
  }
  footer .cont-footer {
    display: flex;
    justify-content: center;
    justify-items: center;
    font-size: 0.8rem;
  }
}/*# sourceMappingURL=index.css.map */