@import './resp';
@import './color-main';

body {
    width: 100%;
    height: 100vh;
    @include center-flex;
    position: relative;
    .box {
      position: fixed;
      
      padding: rem(10);
      background-color: $Color-Blue-4-rgba;
      border-radius: 8px;
      width: max-content;
      height: max-content;
      font-size: 16px;
      @include grid(4  , rem(20) ,  3fr);
      .item {
        @include center-flex;
        height: vh(150);
        width: 150px;
        font-size: rem(20);
        color: white;
        border-radius: 8px;
      }
    }
    .box-color1 {
      display: none;
     
     
      }
    }

