@import './color-main';
@import './resp';

html,
body {
  height: 100vh;
  background-color: $Color-purple-3-rgba;
  font-size: 16px;
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;

  .btn::after {
    content: '';
    transition: all 3s ease-in;
    animation: font-size 3s infinite;
  }
  @keyframes font-size {
    from {
      font-size: rem(160);
    }
    to {
      font-size: rem(16);
    }
  }
}
main {
  padding: rem(100);
  background-color: $Color-purple-4-rgba;
  box-shadow: -1px 7px 20px 0 rgb(0 0 0 / 43%);
}

.btn {
  color: $Color-purple-5-rgba;
  background-color: $Color-purple-6-rgba;
  padding: rem(50);
  border-radius: 16px;
}
