nav i {
  color: rgb(241, 241, 241);
}

body {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

body {
  background-image: url(./images/bg.jpg);
  background-position: center;
  background-repeat: repeat-y;
}
body header {
  display: grid;
  justify-content: center;
  text-align: center;
  width: 50%;
  margin: 20px auto;
  color: rgb(241, 241, 241);
}
body header p {
  font-size: 0.8rem;
}
body #circle {
  height: 30px;
  width: 30px;
  border: 1px solid rgb(241, 241, 241);
  border-radius: 50%;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
}
body #circle i {
  color: white;
  font-size: 16px;
}
body #circle:hover {
  background-color: rgba(32, 32, 32, 0.452);
  transition: 0.5s ease;
  cursor: pointer;
}
body nav {
  display: flex;
  justify-content: space-between;
  background-color: rgba(0, 0, 0, 0.205);
  width: 70%;
  margin: 0 auto;
  align-items: center;
  justify-items: center;
}
body nav #ul-left {
  margin: 0;
  padding: 0;
  display: flex;
  list-style-type: none;
  gap: 10px;
  justify-content: space-between;
  height: 100%;
}
body nav #ul-left li {
  padding: 15px;
  transition: background-color 0.4s ease;
  color: white;
}
body nav #ul-left li:hover {
  cursor: pointer;
  background-color: white;
  color: black;
}
body nav #ul-right {
  display: flex;
  list-style-type: none;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

main {
  display: grid;
  width: 70%;
  margin: 0 auto;
  background-color: white;
  justify-items: center;
}

.info-main {
  text-align: center;
  width: 80%;
  margin: 10px;
}

.cont-div {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 10px;
  border-top: rgba(128, 128, 128, 0.315) 1px solid;
}

.cont-1 {
  display: grid;
  justify-items: center;
  border-right: rgba(128, 128, 128, 0.315) 1px solid;
}
.cont-1 p {
  text-align: center;
  width: 80%;
}

.cont-2 {
  display: grid;
  justify-items: center;
}
.cont-2 p {
  text-align: center;
  width: 80%;
}

button {
  border: 1px solid black;
  border-radius: 6px;
  padding: 10px;
  background: linear-gradient(to bottom, rgb(255, 255, 255) 50%, rgb(0, 0, 0) 50%);
  background-size: 100% 200%;
  background-position: top;
  transition: background-position 0.5s ease-in-out;
  cursor: pointer;
  color: rgb(0, 0, 0);
  width: 40%;
  margin: 10px;
}
button:hover {
  background-position: bottom;
  color: white;
}

#cont-btn {
  display: grid;
  justify-items: center;
  width: 100%;
}

.cont-img {
  display: grid;
  justify-items: center;
}
.cont-img img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 90%;
  height: 100%;
}

footer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 70%;
  margin: 10px auto;
  background-color: white;
  gap: 10px;
}
footer form {
  display: grid;
  justify-items: center;
}
footer form #cont-label {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  gap: 10px;
}
footer form #cont-label #msg {
  height: 50px;
}
footer #cont-footer {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  justify-items: center;
  align-items: center;
}
footer #cont-footer .footer-left {
  display: flex;
  align-items: center;
  padding: 10px;
  width: 50%;
  justify-content: space-between;
  gap: 10px;
  border-top: rgba(128, 128, 128, 0.315) 1px solid;
  border-left: rgba(128, 128, 128, 0.315) 1px solid;
}
footer #cont-footer .footer-left span {
  text-align: left;
}

@media (max-width: 800px) {
  nav {
    flex-direction: column;
    font-size: 0.9rem;
  }
  main {
    font-size: 0.7rem;
  }
  footer {
    grid-template-columns: 1fr;
  }
  footer #cont-footer .footer-left {
    border: 0;
    border-top: 1px solid rgba(119, 119, 119, 0.178);
  }
}
@media (max-width: 600px) {
  main {
    width: 100%;
  }
  main .cont-div {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
  }
  footer {
    width: 100%;
  }
}/*# sourceMappingURL=index.css.map */