// Card MAIN TOP

main {
  .container-card {
    @include grid(3, 1fr);
    @include padding-y(p-xs);
    @include gap(p-s);
    max-width: 80%;
    margin: 0 auto;

    .card-1,
    .card-2,
    .card-3 {
      @include min-height-whidth(200px, 250px);
      @include center-flex;
      @include padding(p-xs);
      h2 {
        @include padding(p-xs);
        @include border-y($color-primary);
        color: $color-primary;
      }
    }
    .card-1 {
      @include bg-image('./asset/img/galleries/soupe.jpg');
    }
    .card-2 {
      @include bg-image('./asset/img/galleries/salade.jpg');
    }
    .card-3 {
      @include bg-image('./asset/img/galleries/dessert.jpg');
    }
  }
}
