main {
  .container-card {
    @include grid(3, 1fr);
    @include padding(p-xs);
    max-width: 80%;

    margin: 0 auto;
    .card-1,
    .card-2,
    .card-3 {
      @include min-height-whidth(230px, 200px);
      @include center-flex;
      h2 {
        @include padding(p-xs);
        @include border-y($color-primary);
        color: $color-primary;
      }
    }
    .card-1 {
      @include bg-image('./asset/img/galleries/soupe.jpg');
    }
    .card-2 {
      @include bg-image('./asset/img/galleries/salade.jpg');
    }
    .card-3 {
      @include bg-image('./asset/img/galleries/dessert.jpg');
    }
  }
}
