body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  nav {
    ul {
      padding: 20px;
      border-radius: 8px;
      position: relative;
      background-color: rgba(0, 0, 0, 0.418);
      z-index: 1;
      display: flex;
      list-style-type: none;

      li {
        display: inline-block;
        position: relative;
        z-index: 3;

        a {
          padding: 20px;
          text-decoration: none;
          list-style-type: none;
          color: azure;
          transition: all 0.5s ease;
          border-radius: 8px;
          cursor: pointer;
          display: block;
        }
      }

      li:nth-child(1):hover ~ span {
        left: 0;
      }
      li:nth-child(2):hover ~ span {
        left: 100px;
      }
      li:nth-child(3):hover ~ span {
        left: 220px;
      }
      li:nth-child(4):hover ~ span {
        left: 340px;
      }

      span {
        z-index: 1;
        position: absolute;
        top: 0;
        left: 0;
        width: 95px;
        height: 100%;
        background: linear-gradient(45deg, rgb(211, 97, 97), rgb(173, 41, 41));
        transition: left 0.5s ease;
      }
    }
  }
}
