main {
  h1 {
    text-align: center;
  }
  .container-card {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 10px;
    animation: TranslateRight ease 1s;
    transition: transform 0.8s ease;
  }
  @keyframes TranslateRight {
    from {
      opacity: 0;
      transform: translateY(30px);
    }
    to {
      opacity: 1;
      transform: translate(0);
    }
  }

  .content-card {
    display: grid;
    justify-content: center;
    justify-items: start;
    align-items: center;
    margin: 10px;
  }
  .card {
    display: grid;
    border-radius: 8px;
    box-shadow: -5px 4px 3px #0000003d;
    opacity: 0;
    animation: TranslateRight 0.8s ease-out forwards;
    transition: transform 0.4s ease, box-shadow 0.4s ease;
    transform: scale(1);
    cursor: pointer;

    &:hover {
      transform: scale(1.05); // zoom à 105%
      box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2); // effet plus prononcé
    }

    &:nth-child(1) {
      animation-delay: 0.4s;
    }

    &:nth-child(2) {
      animation-delay: 0.8s;
    }

    &:nth-child(3) {
      animation-delay: 1.2s;
    }

    .img {
      background-image: url(./asset/img/img1.webp);
      background-size: cover;
      background-position: center;
      height: 200px;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      opacity: 0.8;
      transition: opacity 0.3s ease;
      &:hover {
        opacity: 1;

        // Sélection du titre au survol de l'image
        + .content-card {
          .title-card::after {
            width: 100%;
          }
        }
      }
    }
    &:hover::after {
      width: 100%;
    }
  }
}

.title-card {
  position: relative;
  color: red;
  cursor: pointer;

  &::after {
    content: "";
    position: absolute;
    bottom: -8px;
    left: 0;
    height: 2px;
    width: 0;
    background-color: #db3434;
    transition: width 0.3s ease;
  }
}
