@font-face {
    font-family: 'PT Sans';
    src: url('/CSS/position-basic/exo-pb-1/asset/font/PTSans-Bold.ttf') format('truetype');
    src: url('/CSS/position-basic/exo-pb-1/asset/font/PTSans-BoldItalic.ttf') format('truetype');
    src: url('/CSS/position-basic/exo-pb-1/asset/font/PTSans-Italic.ttf') format('truetype');
    src: url('/CSS/position-basic/exo-pb-1/asset/font/PTSans-Regular.ttf') format('truetype');
    
  } body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
