* {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body {
    display: grid;
    justify-items: center;
    align-content: center;
gap: 10px;
height: 100vh;
background-color: rgba(0, 0, 0, 0.529);
}
form {
    display: grid;
    gap: 10px;
    justify-content: center;
    justify-items: center;
    input {
        border: 0;
        padding: 10px;
        animation: all 0.3s;
    }
    button {
        padding: 10px;
        cursor: pointer;
        border-radius: 16px;
        &:hover {
            background-color: rgba(0, 0, 0, 0.67);
            color: white;
            font-size: 1.1rem;
            box-shadow: -6px 9px 1px 1px #0000004f;
        }
    }
    .message {
        display: none;
    }
    #erreur {
        color: red;
        font-weight: bold;
    }
}