// Pallette Géneral //

// Purple //

$Color-purple-1-rgba: rgba(181, 124, 221, 1);
$Color-purple-2-rgba: rgba(130, 87, 162, 1);
$Color-purple-3-rgba: rgba(86, 59, 105, 1);
$Color-purple-4-rgba: rgba(196, 134, 240, 1);
$Color-purple-5-rgba: rgba(157, 108, 192, 1);
$Color-purple-6-rgba: rgba(62, 42, 76, 1);
$Color-purple-7-rgba: rgba(109, 75, 134, 1);
$Color-purple-8-rgba: rgba(225, 189, 245, 1);
$Color-purple-9-rgba: rgba(174, 24, 255, 1);
$Color-purple-10-rgba: rgba(146, 58, 250, 1);

// Blue //

$Color-Blue-1-rgba: rgba(100, 219, 245, 1);
$Color-Blue-2-rgba: rgba(100, 127, 245, 1);
$Color-Blue-3-rgba: rgba(100, 173, 245, 1);
$Color-Blue-4-rgba: rgba(83, 245, 221, 1);
$Color-Blue-5-rgba: rgba(109, 89, 245, 1);
$Color-Blue-6-rgba: rgba(182, 214, 245, 1);

// Red //

$Color-RED-1-rgba: rgba(240, 31, 1, 1);
$Color-RED-2-rgba: rgba(245, 77, 0, 1);
$Color-RED-3-rgba: rgba(250, 96, 90, 1);
$Color-RED-4-rgba: rgba(209, 117, 75, 1);
$Color-RED-5-rgba: rgba(229, 147, 75, 1);
$Color-RED-6-rgba: rgba(132, 63, 47, 1);
$Color-RED-7-rgba: rgba(245, 59, 0, 1);
$Color-RED-8-rgba: rgba(194, 94, 0, 1);
$Color-RED-9-rgba: rgba(245, 97, 0, 1);
$Color-RED-10-rgba: rgba(245, 9, 1, 1);

// Green //

$Color-green-1-rgba: rgba(204, 237, 0, 1);
$Color-green-2-rgba: rgba(64, 245, 0, 1);
$Color-green-3-rgba: rgba(167, 245, 0, 1);
$Color-green-4-rgba: rgba(0, 193, 82, 1);
$Color-green-5-rgba: rgba(49, 245, 74, 1);
$Color-green-6-rgba: rgba(193, 245, 82, 1);

// Yellow //

$Color-Yellow-1-rgba: rgba(239, 173, 0, 1);
$Color-Yellow-2-rgba: rgba(245, 211, 0, 1);
$Color-Yellow-3-rgba: rgba(250, 190, 71, 1);
$Color-Yellow-4-rgba: rgba(209, 188, 60, 1);
$Color-Yellow-5-rgba: rgba(230, 225, 66, 1);
$Color-Yellow-6-rgba: rgba(132, 110, 38, 1);
$Color-Yellow-7-rgba: rgba(245, 193, 1, 1);
$Color-Yellow-8-rgba: rgba(194, 193, 0, 1);
$Color-Yellow-9-rgba: rgba(245, 229, 0, 1);
$Color-Yellow-10-rgba: rgba(245, 160, 1, 1);

// Couleur random applique avec loop qui fonctionne pas //

$card-bg-colors: (
#6D59F5

#C2C100

#A7F500

#F5A001

#D1754B

#F01F01

#31F54A

#F56100

#64DBF5

#E6E142

#F5C101

#B6D6F5

#F5D300

#C1F552

#F53B00

#F5E500

#FA605A

#D1BC3C

#19494F

#F54D00

#64ADF5

#F50901

#53F5DD

#843F2F

#E5934B

#40F500

#C25E00

#F5C3E4

#FFAA00
);

@for $i from 1 through 20 {
  .mousecircle:nth-child(#{$i}) {
    background-color: nth($card-bg-colors, (($i - 1) % length($card-bg-colors)) + 1);
  }
}