.btn-light1 {
  button {
    @include btn-light1;
    cursor: pointer;
  }
}
.btn-light {
  padding: 10px;
  button {
    @include btn-light;
    cursor: pointer;
  }
}
.btn-dark {
  padding: 10px;
  button {
    @include btn-dark;
    cursor: pointer;
  }
}
.btn-dark1 {
  button {
    @include btn-dark1;
    cursor: pointer;
  }
}
