header {
  @include bg-image("asset/img/bg_header.jpg", cover);
  min-height: 500px;
  position: relative;
  .header-nav {
    ul {
      @include center-flex;
      .logo-container {
        background-color: $color-primary;
        padding: 20px;
        cursor: pointer;
        &:hover {
          background-color: $color-secondary;
          border-radius: 8px;
        }
        h2 {
          letter-spacing: 5px;
          color: $white;
          font-weight: 300;
          font-size: 1.1rem;
        }
      }
      li {
        padding: 20px;
        list-style-type: none;

        a {
          text-decoration: none;
          color: $white;
          cursor: pointer;
          position: relative;
          display: inline-block;
          @include slidebar;
          &:hover {
            color: $color-secondary;
          }
        }
      }
    }
  }
  .header-content {
    display: grid;
    justify-items: end;
    @include absolute-right(16rem);
    width: 400px;
    @include absolute-right-resp;
    .content {
      padding: 10px;
      color: $white;
      text-align: right;
    }
  }
  .active-menu {
    display: flex;
    align-items: center;
    gap: 10px;
    position: relative;

    .icon-menu {
      @include bg-image("asset/img/menu.png");
      height: 15px;
      width: 15px;
      cursor: pointer;
      transition: transform 0.3s ease;
    }

    .dropdown-menu {
      position: absolute;
      top: 50px;
      left: 0;
      display: none;
      background-color: rgba(255, 255, 255, 0.288);
      border: 1px solid #ccc;
      border-radius: 8px;
      padding: 10px;
      list-style: none;
      z-index: 999;

      li {
        padding: 5px;
        white-space: nowrap;
      }
    }

    &.open {
      .dropdown-menu {
        display: block;
      }
    }
  }
}
