body {
  background-color: $color-main;
  main {
    box-shadow: 0 0 8px 0 black;
    width: 80%;
    background-color: $color-primary;
    margin: 0 auto;
    .title-content {
      display: flex;
      gap: 5px;
      justify-content: center;
      align-items: center;
      font-size: 1rem;
      @include padding(p-xs);
      span {
        color: $color-secondary;
        font-size: 1.3rem;
      }
      h2 {
        position: relative;
        @include slidebar;
      }
    }
    .title-content1 {
      display: flex;
      gap: 5px;
      justify-content: center;
      align-items: center;
      font-size: 1rem;
      @include padding(p-xs);
      span {
        color: $color-secondary;
        font-size: 1.3rem;
      }
      h2 {
        position: relative;
        @include slidebar1;
      }
    }

    .content-para {
      @include resp-flex;
      max-width: 70%;
      margin: 0 auto;
      @include responsive-gap-from-map;
      @include padding(p-xs);

      .para {
        span {
          color: $white;
          font-weight: 500;
        }
        .p-light {
          color: $color-secondary;
          border-left: 1px solid $color-secondary;
          @include padding-x(p-xs);
        }
      }
    }
    .content1-img {
      @include bg-image("asset/img/london_hall.jpg", cover);
      @include min-height-whidth;

      justify-items: center;
      position: relative;
      @include scaleimg;
      .btn-light {
        @include absolute-bottom-center;
      }
    }

    #container-content {
      background-color: $color-main1;
      @include padding(p-ssm);
    }
    #container-content1 {
      background-color: $color-secondary;
      @include padding(p-sm);

      .projet {
        color: white;
        font-weight: 400;
      }
      .c-card {
        @include resp-flex;
        @include responsive-gap-from-map;
        margin: 0 auto;
        .container-img {
          @include bg-image("asset/img/london_hall.jpg", cover);
          @include max-height-whidth;
          display: grid;
          align-content: space-between;
          @include scaleimg;
        }
        .container-img1 {
          @include bg-image("asset/img/london.jpg", cover);
          @include max-height-whidth;
          display: grid;
          align-content: space-between;
          @include scaleimg;
        }
        .title-img {
          @include padding(p-xs);
          span {
            color: $color-secondary;
          }
        }
        .content-text {
          display: grid;
          width: 200px;
          align-content: center;
          gap: 10px;
          .logo-12 {
            @include bg-image("asset/img/logo12.png", cover);
            height: 60px;
            width: 60px;
          }
          .title-para {
            color: $white;
            span {
              color: $color-main1;
              font-weight: bold;
            }
          }
        }
      }
    }
    #container-content2 {
      @include padding(p-s);
      .contenaire-service {
        @include resp-flex;
        @include responsive-gap-from-map;
        @include padding(p-xs);
        .para-service {
          display: grid;
          gap: 10px;
          padding: 10px;
          .logo-service {
            @include bg-image("asset/img/polygon.png", cover);
            height: 40px;
            width: 50px;
            @include padding(p-xxs);
            animation: none;
            @include rotatey;
          }
        }
      }
      .logo-service1 {
        @include bg-image("asset/img/3d-logo.png", cover);
        height: 40px;
        width: 40px;
        @include padding(p-xxs);
        @include rotatey;
      }
      h3 {
        color: $white;
      }
      p {
        color: $color-main;
      }
    }
  }
  .content-img-service {
    @include padding(p-xxs);
    .img-service {
      @include bg-image("asset/img/map.png", cover);
      @include scaleimg;
      height: 159px;
      width: 100%;
      border-top: 1px solid $color-secondary;
      border-bottom: 1px solid $color-secondary;
      @include margin-y(p-xxs);
    }
  }
}
