body {
  background-color: $color-main;
  main {
    box-shadow: 0 0 8px 0 black;
    width: 80%;
    background-color: $color-primary;
    margin: 0 auto;
    .title-content {
      display: flex;
      gap: 5px;
      justify-content: center;
      align-items: center;
      font-size: 1rem;
      padding: 20px;
      span {
        color: $color-secondary;
        font-size: 1.3rem;
      }
      h2 {
        position: relative;
        @include slidebar;
      }
    }
    .title-content1 {
      display: flex;
      gap: 5px;
      justify-content: center;
      align-items: center;
      font-size: 1rem;
      padding: 20px;
      span {
        color: $color-secondary;
        font-size: 1.3rem;
      }
      h2 {
        position: relative;
        @include slidebar1;
      }
    }

    .content-para {
      @include grid(2);
      grid-template-columns: 7fr 3fr;

      align-items: center;
      justify-items: center;
      padding: 20px;
      .para {
        span {
          color: $white;
          font-weight: 500;
        }
        .p-light {
          color: $color-secondary;
          border-left: 1px solid $color-secondary;
          padding-left: 20px;
        }
      }
    }
    .content1-img {
      @include bg-image("asset/img/london_hall.jpg", cover);
      width: 200px;
      height: 300px;
      justify-items: center;
      position: relative;
      .btn-light {
        @include absolute-bottom-center;
      }
    }
    #container-content {
      background-color: $color-main1;
    }
    #container-content1 {
      background-color: $color-secondary;
      padding: 20px;

      .projet {
        color: white;
        font-weight: 400;
      }
      .c-card {
        padding: 20px;
        @include grid-fluid;
        justify-items: center;
        .container-img {
          @include bg-image("asset/img/london_hall.jpg", cover);
          width: 200px;
          display: grid;
          align-content: space-between;
        }
        .container-img1 {
          @include bg-image("asset/img/london.jpg", cover);
          width: 200px;
          display: grid;
          align-content: space-between;
        }
        .title-img {
          padding: 10px;
          span {
            color: $color-secondary;
          }
        }
        .content-text {
          display: grid;
          width: 200px;
          align-content: center;
          gap: 10px;
          .logo-12 {
            @include bg-image("asset/img/logo12.png", cover);
            height: 60px;
            width: 60px;
          }
          .title-para {
            color: $white;
            span {
              color: $color-main1;
              font-weight: bold;
            }
          }
        }
      }
    }
    #container-content2 {
      .contenaire-service {
        @include grid-fluid;
        padding: 20px;
        .para-service {
          display: grid;
          gap: 10px;
          padding: 10px;
          .logo-service {
            @include bg-image("asset/img/polygon.png", cover);
            height: 40px;
            width: 50px;
            padding: 10px;
            animation: none;
            @include rotatey;
          }
        }
      }
      .logo-service1 {
        @include bg-image("asset/img/3d-logo.png", cover);
        height: 40px;
        width: 40px;
        padding: 10px;
        @include rotatey;
      }
      h3 {
        color: $white;
      }
      p {
        color: $color-main;
      }
    }
  }
  .content-img-service {
    padding: 10px;
    .img-service {
      @include bg-image("asset/img/map.png", cover);
      height: 159px;
      width: 100%;
      border-top: 1px solid $color-secondary;
      border-bottom: 1px solid $color-secondary;
      margin-bottom: 10px;
    }
  }
}
