* {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-image: url(asset/img/bg_header.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  min-height: 500px;
  position: relative;
}
@media (max-width: 768px) {
  header .header-nav {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }
}
header .header-nav ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
header .header-nav ul .logo-container {
  background-color: rgba(22, 22, 22, 0.4784313725);
  padding: 1.5rem;
  cursor: pointer;
}
header .header-nav ul .logo-container:hover {
  background-color: #cca57c;
  border-radius: 8px;
}
header .header-nav ul .logo-container h2 {
  letter-spacing: 5px;
  color: #ffffff;
  font-weight: 300;
  font-size: 1.1rem;
}
header .header-nav ul li {
  padding: 1.5rem;
  list-style-type: none;
}
header .header-nav ul li a {
  text-decoration: none;
  color: #ffffff;
  cursor: pointer;
  position: relative;
  display: inline-block;
}
header .header-nav ul li a::after {
  content: "";
  position: absolute;
  height: 2px;
  transition: width 0.5s ease-in-out;
  background-color: #cca57c;
  left: 0;
  width: 0;
  bottom: -3px;
}
header .header-nav ul li a:hover::after {
  width: 100%;
}
header .header-nav ul li a:hover {
  color: #cca57c;
}
header .header-content {
  display: grid;
  justify-items: end;
  position: absolute;
  top: 50%;
  right: 16rem;
  transform: translateY(-50%);
  width: 400px;
}
@media (max-width: 768px) {
  header .header-content {
    position: static;
    transform: none;
    margin: 0 auto;
    justify-items: center;
  }
  header .header-content p {
    text-align: left;
  }
  header .header-content h1 {
    text-align: center;
  }
}
header .header-content .content {
  padding: 1rem;
  color: #ffffff;
  text-align: right;
}
header .active-menu {
  display: flex;
  align-items: center;
  gap: 10px;
  position: relative;
}
header .active-menu .icon-menu {
  background-image: url(asset/img/menu.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  height: 15px;
  width: 15px;
  cursor: pointer;
  transition: transform 0.3s ease;
}
header .active-menu .dropdown-menu {
  position: absolute;
  top: 50px;
  left: 0;
  display: none;
  background-color: rgba(255, 255, 255, 0.288);
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 1rem;
  list-style: none;
  z-index: 999;
}
header .active-menu .dropdown-menu li {
  padding: 0.5rem;
  white-space: nowrap;
}
header .active-menu.open .dropdown-menu {
  display: block;
}

body {
  background-color: #606060;
}
body main {
  box-shadow: 0 0 8px 0 black;
  width: 80%;
  background-color: rgba(22, 22, 22, 0.4784313725);
  margin: 0 auto;
}
body main .title-content {
  display: flex;
  gap: 5px;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  padding: 1rem;
}
body main .title-content span {
  color: #cca57c;
  font-size: 1.3rem;
}
body main .title-content h2 {
  position: relative;
}
body main .title-content h2::after {
  content: "";
  position: absolute;
  height: 2px;
  transition: width 0.5s ease-in-out;
  background-color: #cca57c;
  left: 0;
  width: 0;
  bottom: -3px;
}
body main .title-content h2:hover::after {
  width: 100%;
}
body main .title-content1 {
  display: flex;
  gap: 5px;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  padding: 1rem;
}
body main .title-content1 span {
  color: #cca57c;
  font-size: 1.3rem;
}
body main .title-content1 h2 {
  position: relative;
}
body main .title-content1 h2::after {
  content: "";
  position: absolute;
  height: 2px;
  transition: width 0.5s ease-in-out;
  background-color: rgba(22, 22, 22, 0.4784313725);
  left: 0;
  width: 0;
  bottom: -3px;
}
body main .title-content1 h2:hover::after {
  width: 100%;
}
body main .content-para {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(1, 1fr);
  gap: 1rem;
  grid-template-columns: 7fr 3fr;
  align-items: center;
  justify-items: center;
  padding: 1rem;
}
@media (max-width: 768px) {
  body main .content-para {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }
}
body main .content-para .para span {
  color: #ffffff;
  font-weight: 500;
}
body main .content-para .para .p-light {
  color: #cca57c;
  border-left: 1px solid #cca57c;
  padding-left: 1rem;
  padding-right: 1rem;
}
body main .content1-img {
  background-image: url(asset/img/london_hall.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  width: 200px;
  height: 300px;
  justify-items: center;
  position: relative;
  animation: scale 1s linear forwards;
  animation-delay: 0.8s;
}
@keyframes scale {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
body main .content1-img .btn-light {
  position: absolute;
  bottom: 1rem;
  left: 0;
  right: 0;
  margin: 0 auto;
  text-align: center;
}
body main #container-content {
  background-color: #272727;
  padding: 2rem;
}
body main #container-content1 {
  background-color: #cca57c;
  padding: 2rem;
}
body main #container-content1 .projet {
  color: white;
  font-weight: 400;
}
body main #container-content1 .c-card {
  padding: 1.5rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(1, 1fr);
  gap: 1rem;
  justify-items: center;
}
@media (max-width: 768px) {
  body main #container-content1 .c-card {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }
}
body main #container-content1 .c-card .container-img {
  background-image: url(asset/img/london_hall.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  width: 200px;
  display: grid;
  align-content: space-between;
  animation: scale 1s linear forwards;
  animation-delay: 0.8s;
}
@keyframes scale {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
body main #container-content1 .c-card .container-img1 {
  background-image: url(asset/img/london.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  width: 200px;
  display: grid;
  align-content: space-between;
  animation: scale 1s linear forwards;
  animation-delay: 0.8s;
}
@keyframes scale {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
body main #container-content1 .c-card .title-img {
  padding: 1rem;
}
body main #container-content1 .c-card .title-img span {
  color: #cca57c;
}
body main #container-content1 .c-card .content-text {
  display: grid;
  width: 200px;
  align-content: center;
  gap: 10px;
}
body main #container-content1 .c-card .content-text .logo-12 {
  background-image: url(asset/img/logo12.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 60px;
  width: 60px;
}
body main #container-content1 .c-card .content-text .title-para {
  color: #ffffff;
}
body main #container-content1 .c-card .content-text .title-para span {
  color: #272727;
  font-weight: bold;
}
body main #container-content2 {
  padding: 1.5rem;
}
body main #container-content2 .contenaire-service {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1rem;
  padding: 1rem;
}
body main #container-content2 .contenaire-service .para-service {
  display: grid;
  gap: 10px;
  padding: 10px;
}
body main #container-content2 .contenaire-service .para-service .logo-service {
  background-image: url(asset/img/polygon.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 40px;
  width: 50px;
  padding: 0.5rem;
  animation: none;
}
body main #container-content2 .contenaire-service .para-service .logo-service:hover {
  animation: rotate 1s linear infinite;
}
@keyframes rotate {
  from {
    transform: rotateY(0);
  }
  to {
    transform: rotateY(360deg);
  }
}
body main #container-content2 .logo-service1 {
  background-image: url(asset/img/3d-logo.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 40px;
  width: 40px;
  padding: 0.5rem;
}
body main #container-content2 .logo-service1:hover {
  animation: rotate 1s linear infinite;
}
@keyframes rotate {
  from {
    transform: rotateY(0);
  }
  to {
    transform: rotateY(360deg);
  }
}
body main #container-content2 h3 {
  color: #ffffff;
}
body main #container-content2 p {
  color: #606060;
}
body .content-img-service {
  padding: 0.5rem;
}
body .content-img-service .img-service {
  background-image: url(asset/img/map.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 159px;
  width: 100%;
  border-top: 1px solid #cca57c;
  border-bottom: 1px solid #cca57c;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

footer {
  padding: 1rem;
  border-top: 1px solid #cca57c;
  background-image: url(asset/img/bg_footer.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
footer .container-footer {
  width: 50%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1rem;
  gap: 10px;
}
footer .container-footer .card-gold {
  background-color: rgba(204, 165, 124, 0.6156862745);
  color: #ffffff;
  padding: 1rem;
  border-radius: 8px;
}
footer .container-footer .card-dark {
  background-color: rgba(22, 22, 22, 0.4784313725);
  color: #ffffff;
  padding: 1rem;
  display: grid;
  gap: 10px;
  border-radius: 8px;
}
footer .container-footer .card-dark input {
  list-style-type: none;
  background-color: rgba(22, 22, 22, 0.4784313725);
  border: 0;
}
footer .container-footer .card-dark textarea {
  background-color: rgba(22, 22, 22, 0.4784313725);
  border: 0;
  height: 100px;
}

.btn-light1 button {
  width: 102px;
  height: 23px;
  border: 0;
  color: #ffffff;
  background-color: #cca57c;
  transition: transform 0.3s ease;
  cursor: pointer;
}
.btn-light1 button:hover {
  background-color: rgba(22, 22, 22, 0.4784313725);
  transform: scale(1.1);
}

.btn-light {
  padding: 10px;
}
.btn-light button {
  width: 102px;
  height: 23px;
  border: 0;
  border-radius: 8px;
  color: #ffffff;
  background-color: #cca57c;
  transition: transform 0.3s ease;
  cursor: pointer;
}
.btn-light button:hover {
  background-color: rgba(22, 22, 22, 0.4784313725);
  transform: scale(1.1);
}

.btn-dark {
  padding: 10px;
}
.btn-dark button {
  width: 102px;
  height: 23px;
  border: 0;
  border-radius: 8px;
  color: #ffffff;
  background-color: #272727;
  transition: transform 0.3s ease;
  cursor: pointer;
}
.btn-dark button:hover {
  transform: scale(1.1);
  background-color: #cca57c;
  color: black;
}

.btn-dark1 button {
  width: 102px;
  height: 23px;
  border: 0;
  color: #ffffff;
  background-color: #272727;
  transition: transform 0.3s ease;
  cursor: pointer;
}
.btn-dark1 button:hover {
  transform: scale(1.1);
  background-color: #cca57c;
  color: black;
}/*# sourceMappingURL=index.css.map */