@charset "UTF-8";
/* Affichage */
.contenu {
  display: none;
}

.contenu.actif {
  display: block;
}

/* Fonts AND Background*/
body {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background: #020024;
  background: -webkit-gradient(linear, left top, right top, from(#18164b), color-stop(0%, #848ef0), to(#59217e));
  background: linear-gradient(90deg, #18164b 0%, #848ef0 0%, #59217e 100%);
}

.contenu {
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  pointer-events: none;
  -webkit-transition: opacity 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
}

.contenu.actif {
  opacity: 1;
  -webkit-transform: translateX(0);
          transform: translateX(0);
  visibility: visible;
  pointer-events: auto;
}

.contenu.inactif {
  opacity: 0;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  pointer-events: none;
}

/* Containers - Mise en Page */
.contenu {
  width: 80%;
  margin: 0 auto;
  padding: 30px;
  background-color: rgba(0, 0, 0, 0.212);
  -webkit-box-shadow: -3px 11px 20px 0px #000000;
          box-shadow: -3px 11px 20px 0px #000000;
}

.cont-onglet {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.cont-input {
  display: block;
}

.cont-input input {
  margin: 5px 0 5px 0;
}

/* Style page 2  */
select {
  font-weight: bold;
  width: 100%;
  height: 40px;
  margin-top: 5px;
  border-radius: 8px;
  border: 1px solid #a4fca4;
  margin-bottom: 20px;
}

.input-projet {
  height: 20vh;
}

/* margin input */
#type {
  margin: 10px auto;
}

#bdate {
  margin: 10px auto;
}

.input-projet {
  margin: 10px auto;
}

.info-projet {
  color: #f1f1f1;
  text-shadow: 1px 1px 5px #000000;
}

#tab2 h2 {
  text-shadow: 1px 1px 5px #000000;
}

#tab2 h3 {
  text-shadow: 1px 1px 5px #000000;
}

#tab2 label {
  color: #f1f1f1;
  text-shadow: 1px 1px 5px #000000;
}

.cont-select {
  color: #f1f1f1;
  text-shadow: 1px 1px 5px #000000;
}

/* Style page 3 */
.fonc-check {
  display: -ms-grid;
  display: grid;
}

#tab3 h2 {
  text-shadow: 1px 1px 5px #000000;
}

#tab3 h3 {
  text-shadow: 1px 1px 5px #000000;
  font-size: 1.1rem;
  margin: 10px 0;
}

#tab3 label {
  color: #f1f1f1;
  text-shadow: 1px 1px 5px #000000;
}

.fonc-check {
  font-size: 1.1rem;
}

h3 {
  color: white;
}

.info-projet > label {
  font-size: 1.1rem;
  font-weight: bold;
  color: white;
}

.contact-check span {
  font-weight: bold;
  color: #f1f1f1;
}

#tab4 h1 {
  text-shadow: 1px 1px 20px #000000;
}

#h2-t4 {
  text-align: center;
  text-shadow: 1px 1px 5px #000000;
}

#p-t4 {
  text-align: center;
}

#p-t4 span {
  font-weight: bold;
}

.next {
  -webkit-box-shadow: inset 0px 0px 15px 3px #23395e;
          box-shadow: inset 0px 0px 15px 3px #23395e;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(5%, #2e466e), to(#415989));
  background: linear-gradient(to bottom, #2e466e 5%, #415989 100%);
  background-color: #2e466e;
  border-radius: 8px;
  border: 1px solid #1f2f47;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 15px;
  padding: 6px 13px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #263666;
  margin-top: 10px;
}

/* Button : Hover */
.next:hover {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(5%, #415989), to(#2e466e));
  background: linear-gradient(to bottom, #415989 5%, #2e466e 100%);
  background-color: #415989;
}

.next:active {
  position: relative;
  top: 1px;
}

.next2 {
  -webkit-box-shadow: inset 0px 0px 15px 3px #23395e;
          box-shadow: inset 0px 0px 15px 3px #23395e;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(5%, #2e466e), to(#415989));
  background: linear-gradient(to bottom, #2e466e 5%, #415989 100%);
  background-color: #2e466e;
  border-radius: 8px;
  border: 1px solid #1f2f47;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 15px;
  padding: 6px 13px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #263666;
  margin-top: 10px;
}

.next2:hover {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(5%, #415989), to(#2e466e));
  background: linear-gradient(to bottom, #415989 5%, #2e466e 100%);
  background-color: #415989;
}

.next2:active {
  position: relative;
  top: 1px;
}

/* Button précedent  */
.precedent {
  -webkit-box-shadow: inset 0px 0px 15px 3px #737573;
          box-shadow: inset 0px 0px 15px 3px #737573;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(5%, #333133), to(#9488db));
  background: linear-gradient(to bottom, #333133 5%, #9488db 100%);
  background-color: #333133;
  border-radius: 8px;
  border: 1px solid #a38ca3;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 15px;
  padding: 6px 13px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #ffffff;
  margin-top: 10px;
}

.precedent:hover {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(5%, #9488db), to(#333133));
  background: linear-gradient(to bottom, #9488db 5%, #333133 100%);
  background-color: #9488db;
}

.precedent:active {
  position: relative;
  top: 1px;
}

/* Position button */
.cont-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

/* taille checkbox */
.valide {
  height: 20px;
  width: 15px;
}

#condition {
  height: 20px;
  width: 15px;
}

#condition > span {
  color: white;
}

/* Input Label */
input {
  width: 100%;
  height: 40px;
  border-radius: 8px;
}

input:focus,
.next:focus,
.precedent:focus {
  outline: 2px solid #4a90e2;
  -webkit-box-shadow: 0 0 5px rgba(74, 144, 226, 0.8);
          box-shadow: 0 0 5px rgba(74, 144, 226, 0.8);
}

/* Onglet CHECKBOX */
.onglet input[type="checkbox"] {
  display: none;
  /* cache la checkbox native */
}

.onglet {
  display: inline-block;
  width: 30px;
  height: 30px;
  background-color: #eee;
  text-align: center;
  line-height: 30px;
  border-radius: 10px;
  cursor: pointer;
  font-weight: bold;
  border: 1px solid #aaa;
  -webkit-transition: background-color 0.4s ease;
  transition: background-color 0.4s ease;
  -webkit-box-shadow: 0px 0px 20px 0px #301541;
          box-shadow: 0px 0px 20px 0px #301541;
}

.onglet {
  background-color: #5ab;
  color: white;
  border-color: #389;
}

.cont-onglet {
  position: relative;
}

/* Texte */
.contenu h1 {
  text-align: center;
  color: white;
  text-shadow: 3px 1px 0px rgba(41, 140, 138, 0.295);
  text-transform: uppercase;
  font-size: 1.5rem;
}

h2 {
  color: white;
  text-shadow: 3px 1px 0px rgba(3, 124, 122, 0.336);
}

.cont-input label {
  font-weight: bold;
  color: #ffffff;
}

/* Transitions de style de trait onglet */
.trait-1,
.trait-2,
.trait-3 {
  position: absolute;
  border: 2px black;
  height: 5px;
  width: 33%;
  top: 50%;
  background-color: white;
  border-radius: 3px;
  z-index: -1;
  -webkit-box-shadow: 2px 2px 10px 0px #b4b4b4;
          box-shadow: 2px 2px 10px 0px #b4b4b4;
}

.trait-1 {
  right: 50%;
}

.trait-2,
.trait-3 {
  width: 65%;
}
/*# sourceMappingURL=index1.css.map */